name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        task: [tests, lint]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        if: matrix.task == 'tests'
        run: pytest

      - name: Run flake8 (non-blocking)
        if: matrix.task == 'lint'
        continue-on-error: true
        run: flake8 .

  docker-build:
    runs-on: ubuntu-latest
    needs: test-and-lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker build
        run: docker build -t file-storage-api .
